<div class="container mt-5">
  <div class="row">
    <div class="col-md-4" style="display: inline-flex; justify-content: center;">
      <div class="card contImg">
        <img src="./assets/running.jpg" class="imgCat" routerLink="/classifiche">
        <div class="imgText" routerLink="/classifiche"><h4 class="textHover">Corsa</h4></div>
      </div>
    </div>
    <div class="col-md-4" style="display: inline-flex; justify-content: center;">
      <div class="card contImg">
        <img src="./assets/swimming.jpg" class="imgCat" routerLink="/classifiche">
        <div class="imgText" routerLink="/classifiche"><h4 class="textHover">Nuoto</h4></div>
      </div>
    </div>
    <div class="col-md-4" style="display: inline-flex; justify-content: center;">
      <div class="card contImg">
        <img src="./assets/cycling.jpg" class="imgCat" routerLink="/classifiche">
        <div class="imgText" routerLink="/classifiche"><h4 class="textHover">Ciclismo</h4></div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-4" style="display: inline-flex; justify-content: center;">
      <div class="card contImg">
        <img src="./assets/ski.jpg" class="imgCat" routerLink="/classifiche">
        <div class="imgText" routerLink="/classifiche"><h4 class="textHover">Sci</h4></div>
      </div>
    </div>
    <div class="col-md-4" style="display: inline-flex; justify-content: center;">
      <div class="contImg">

      </div>
    </div>
    <div class="col-md-4" style="display: inline-flex; justify-content: center;">
      <div class="contImg">

      </div>
    </div>
  </div>
</div>
