<nav class="navbar navbar-expand-lg" style="background-color: rgb(23, 0, 163);">
  <div class="container-fluid" style="color: white;">
    <a class="navbar-brand" href="#"><img class="img-fluid d-inline-block" width="30%" src="./assets/logo1.jpg"></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle Navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" style="color: white;">Classifiche</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="color: white;">Categorie</a>
        </li>

        <li class="nav-item">
          <a *ngIf="!isLogged; else permittedInsert" class="nav-link disabled" style="color: white;">Inserisci tempo</a>
          <ng-template #permittedInsert><a #permittedInsert class="nav-link" href="#" style="color: white;">Inserisci tempo</a></ng-template>
        </li>
      </ul>
      <div class="container-fluid">
        <a href="#"><img src="./assets/images.png" class="d-flex justify-content-center w-25 mw-25 m-auto"></a>
        <a class="nav-link" href="#"><p class="d-flex justify-content-center">User</p></a>
      </div>
    </div>
  </div>
</nav>
<app-home></app-home>

